.header {
  display: flex;
  align-items: center;
  min-height: 6.25rem;
  width: 100%;
}

.title {
  flex: 1;
  font-size: var(--font-size-large);
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.logo {
  margin-right: 0.75rem;
}

.links {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: 600;
}

.central {
  border-radius: 0.5rem;
}

.central a {
  padding: 0.5rem 1rem;
  background: var(--gray50);
}

.central a > span,
.central a:hover > span {
  border-bottom: none;
}

.central a:hover {
  background: var(--gray100);
}

.central a:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.central a:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .header .buttons {
    flex: 1;
  }

  .links {
    order: 2;
    margin: 1.25rem 0;
    min-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 1.875rem;
  }

  .buttons,
  .links {
    display: none;
  }

  .title {
    flex: 1;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
