.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
  align-self: stretch;
  font-weight: bold;
  font-size: var(--font-size-small);
}

.header button {
  padding: 0.5rem 1rem;
}
