.container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid var(--gray200);
  border-radius: 0.4rem;
}

.label {
  margin-left: 0.625rem;
  user-select: none; /* disable text selection when clicking to toggle the checkbox */
}

.input {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
  bottom: 100%;
  right: 100%;
}
