.wrapper {
  background: var(--gray50);
  margin-right: 0.625rem;
  border-radius: 100%;
}

.dot {
  background: var(--green400);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
}

.dot.small {
  width: 8px;
  height: 8px;
}

.dot.large {
  width: 1rem;
  height: 1rem;
}
