.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.0625rem solid var(--gray200);
  border-radius: 0.4rem;
  cursor: pointer;
}

.dropdown:hover {
  background: var(--gray100);
}

.value {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  min-width: 10rem;
}

.text {
  flex: 1;
}

.icon {
  padding-left: 1.25rem;
}
