.row {
  display: flex;
  align-items: center;
}

.row .inactive {
  color: var(--gray500);
}

.row .active {
  color: var(--gray900);
  font-weight: 600;
}

.row .link {
  display: none;
  margin-left: 1.25rem;
}

.row .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.row:hover .link {
  display: block;
}

.icon {
  cursor: pointer;
}

.favicon {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  border: 0.0625rem solid var(--gray300);
  padding: 3px;
  overflow: hidden;
  background: #fff;
}
