.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.button {
  border: 0.0625rem solid transparent;
}

.container .button {
  padding: 0.5rem;
}

.text {
  font-size: var(--font-size-small);
}

.open,
.open:hover {
  background: var(--gray50);
  border: 0.0625rem solid var(--gray200);
}
