.menu {
  color: var(--gray800);
  border: 0.0625rem solid var(--gray200);
  border-radius: 0.3125rem;
  overflow: hidden;
  z-index: 2;
}

.option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.option:hover {
  background: var(--gray75);
}

.selected {
  color: var(--gray900);
  font-weight: 600;
}
