.table {
  position: relative;
  height: 100%;
  font-size: var(--font-size-small);
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  overflow: hidden;
}

.body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
}

.title {
  display: flex;
  font-weight: 600;
  font-size: var(--font-size-normal);
}

.metric {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-align: center;
  width: 6.25rem;
  cursor: pointer;
}

.row {
  position: relative;
  height: 1.875rem;
  line-height: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3125rem;
  overflow: hidden;
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 2;
}

.label a {
  color: inherit;
  text-decoration: none;
}

.label a:hover {
  color: var(--primary400);
}

.label:empty {
  color: #b3b3b3;
}

.label:empty:before {
  content: 'Unknown';
}

.value {
  width: 3.125rem;
  text-align: right;
  margin-right: 0.625rem;
  font-weight: 600;
  cursor: pointer;
}

.percent {
  position: relative;
  width: 3.125rem;
  color: var(--gray600);
  border-left: 0.0625rem solid var(--gray600);
  padding-left: 0.625rem;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.875rem;
  opacity: 0.1;
  background: var(--primary400);
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  .body {
    height: auto;
  }
}
