.legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.625rem;
}

.label {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xsmall);
  cursor: pointer;
}

.label + .label {
  margin-left: 1.25rem;
}

.hidden {
  color: var(--gray400);
}
