.bar {
  display: flex;
  cursor: pointer;
  min-height: 5rem;
  gap: 0.4rem;
  margin: 1rem 0;
  overflow: auto;
}

@media only screen and (max-width: 992px) {
  .bar > div {
    flex: 1;
  }
}

@media only screen and (max-width: 768px) {
  .bar {
    display: grid;
    grid-template-columns: calc(100% / 2) calc((100% / 2) - 0.4rem);
    gap: 0.4rem;
  }
}
