.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.item {
  padding: 0.3125rem 0;
}

.item h1 {
  font-weight: 600;
  font-size: 1rem;
}

.item h2 {
  font-size: 14px;
  color: var(--gray700);
}

.text {
  padding: 1.25rem;
  border-radius: 0.4rem;
  border: 0.0625rem solid var(--gray400);
  background: var(--gray50);
}

.active .text {
  border-color: var(--gray600);
  box-shadow: 0.25rem 0.25rem 0.25rem var(--gray100);
}

.dragActive {
  cursor: grab;
}

.dragActive:active {
  cursor: grabbing;
}
