.website {
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid var(--gray300);
  margin-bottom: 1.875rem;
  align-self: stretch;
}

.website:last-child {
  border-bottom: 0;
  margin-bottom: 1.25rem;
}
