.chart {
  margin-bottom: 1.875rem;
}

.view {
  border-top: 0.0625rem solid var(--gray300);
}

.menu {
  font-size: var(--font-size-small);
}

.content {
  min-height: 600px;
  padding: 1.25rem 0;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.backButton svg {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.eventschart {
  padding-top: 1.875rem;
}

@media only screen and (max-width: 992px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}
