.menu {
  display: flex;
  flex-flow: row wrap;
  min-width: 560px;
  max-width: 100vw;
  padding: 0.625rem;
  max-height: 300px;
  overflow: auto;
}

.menu div {
  border-radius: 0.4rem;
  min-width: calc(100% / 3);
}

@media only screen and (max-width: 768px) {
  .menu div {
    min-width: 50%;
  }
}
