.container {
  display: flex;
}

.form {
  border-right: 0.0625rem solid var(--gray300);
  width: 420px;
}

.filters {
  padding: 0.625rem 0.3125rem;
}

.filters + .filters {
  border-top: 0.0625rem solid var(--gray300);
  min-height: 250px;
}

.table {
  padding: 0.625rem;
  min-height: 430px;
  min-width: 25em;
}

.formButtons {
  justify-content: flex-start;
  margin-left: 1.25rem;
}

.dropdown {
  min-height: 39px;
  min-width: 15rem;
}

.filterTag {
  flex-wrap: wrap;
  margin: 0.625rem 0.3125rem 0.3125rem 0.3125rem;
}
